html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.viewer-frame {
  flex: 1;
  margin: 0 10px 10px 10px;
  border: 1px solid #e2e2e2;
}

#spinner {
  display: none;
}

.share-btn {
  /* making this button the same width as the download button */
  min-width: 87.7px;
}

