
/**
 * Landing page icons
 */

 .service-icon {
    margin-bottom: 30px;
    width: 145px;
    height: 145px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #a9a9a9;
    margin-bottom: 20px;
    position: relative;
    /*-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;*/
}

.pd-icon-lock {
    background: url(../../img/icon-lock.png) no-repeat;
    width: 53px;
}


.pd-icon-responsive {
    background: url(../../img/icon-responsive.png) no-repeat;
    width: 66px;
}

.pd-icon-folder {
    background: url(../../img/icon-folder.png) no-repeat;
    width: 70px;
}

.pixeden {
    height: 63px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

#dropzone-preview-container {
    display: none;
}

#file-drop-top {
    margin: 45px 0 0 0;
}

label[for='share-link-fileref'] {
    font-weight: normal;
}

.help-block {
    font-size: 1.3rem;
}